@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --col-01: rgb(85, 157, 97);
  --col-02: white;
  --col-03: rgb(105, 151, 212);
  --col-04: rgb(223, 101, 215);
  --border: single 1rem var(var(--col-01));
}

body {
  background-color: white;
}

h1 {
  font-family: "Barriecito", system-ui;
  font-weight: 500;
  font-style: normal;
  color: var(--col-03);
  text-align: center;
}

h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--col-01);
}
h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--col-01);
}
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--col-01);
}
