@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --col-01: #0465a2;
  --col-02: #374955;
  --col-03: #1F5E3F;
  --col-04: #785a3a;
  --col-05: #07517e;
  --col-06: #6997c4;
  --col-06:#94bca8;
  --border: single 1rem var(var(--col-01));
  background-color: #dee9f0;
}


.title {
  animation:
  6s linear 0s infinite alternate bounce;
}

@keyframes bounce
{
  from {
    transform: translateX(-10vw);
  }to {
    transform: translateX(10vw);
  }
}

h1 {
  font-family: "Barriecito", system-ui;
  font-weight: bold;
  font-size: 45px;
  font-style:normal;
  color: var(--col-05);
  text-align: center;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  color: var(--col-01);
  text-align: center;
}
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--col-01);
  text-align: center;
}
section{
  text-align: center;
  border: 2px solid #5c6c78;
  font-weight: bold;
}
h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 460;
  font-style: normal;
  font-size: 20px;
  color: var(--col-01);
}

h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: var(--col-04);
 
}
li {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: var(--col-04);
 
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: var(--col-03);
}
a {
  font-family: Georgia, 'Times New Roman', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: var(--col-06);
}
.re{
  font-family: Georgia, 'Times New Roman', sans-serif;
  font-weight: bold;
  font-style:normal;
  font-size: 18px;
  color: var(--col-04);
}